@model IEnumerable<RadarLiterario.Models.Livro>


@{
    ViewData["Title"] = "";
}

@foreach (var item in Model)
{

    <div class="container-fluid d-flex align-items-center">
        <div>
            <span><a asp-action="Details" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.titulo)</a></span>
        </div>
    </div>
}

