@model IEnumerable<RadarLiterario.Models.Livro>


@{
    ViewData["Title"] = "";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1 class="display-4"><i class="bi bi-emoji-smile"></i> Bem-vindo de volta!</h1>
        <p class="lead">Aproveite a sua conta para acessar diversos livros disponiveis no <b>Radar Literário</b>.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Livros" asp-action="Index" role="button">Biblioteca</a>
        </p>
    </div>
}
else
{
    <div class="jumbotron">
        <h1 class="display-4"><i class="bi bi-emoji-laughing"></i> Olá, bem-vindo! <i class="bi bi-balloon-heart"></i></h1>
        <p class="lead">ENCONTRE LIVROS, APOSTILAS, QUADRINHOS E MUITO MAIS...</p>
        <hr class="my-4">
        <p>Pronto para ter sua experiência no <b>Radar Literário</b>?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Usuarios" asp-action="Create" role="button">Cadastre-se</a>
        </p>
    </div>
}
@foreach (var item in Model)
{

    <div class="container-fluid d-flex align-items-center">
        <div>
            <span><a asp-action="Details" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.titulo)</a></span>
        </div>
    </div>
}

