@model RadarLiterario.Models.Livro

@{
    ViewData["Title"] = "Adicionar Livro - ";
}

<h3>Adicionar livro</h3>

<hr />
<h5>Informações do livro:</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemCapa" class="control-label"></label>
                <input asp-for="ImagemCapa" class="form-control" />
                <span asp-validation-for="ImagemCapa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genero" class="control-label"></label>
                <input asp-for="genero" class="form-control" />
                <span asp-validation-for="genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sinopse" class="control-label"></label>
                <textarea asp-for="sinopse" class="form-control"></textarea>
                <span asp-validation-for="sinopse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">
                    <i class="bi bi-clipboard2-check"></i> Avançar
                </button> | 
                <a asp-controller="Livros" asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-return-left"></i> Voltar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
