@using System.Net.Http;

@model IEnumerable<RadarLiterario.Models.Livro>

@{
    ViewData["Title"] = "Biblioteca - ";
}

<h3>Biblioteca</h3>

<hr />
<div id="biblioteca" class="container">
    <div class="row ml-4">
        @foreach (var item in Model)
        {
            if (item.ImagemCapa == null)
            {
                item.ImagemCapa = "/img/Capa-200x300.webp";
            }

            if (Uri.IsWellFormedUriString(item.ImagemCapa, UriKind.Absolute))
            {
                HttpClient client = new HttpClient();

                HttpResponseMessage res = await client.GetAsync(item.ImagemCapa);

                bool IsTypeImage = res.ToString().Contains("Content-Type: image");

                if (IsTypeImage != true)
                {
                    item.ImagemCapa = "/img/Capa-200x300.webp";
                }
            }
            else
            {
                item.ImagemCapa = "/img/Capa-200x300.webp";
            }

            <div class="card m-3" style="width: 14rem;">
                <img class="card-img-top" src="@item.ImagemCapa" alt="Capa">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.titulo)</h5>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.id">Visualizar</a>
                </div>
            </div>
        }
    </div>
</div>
