@model IEnumerable<RadarLiterario.Models.Arquivos>

@{
    ViewData["Title"] = "Upload - ";
}

<h3>Adicionar livro</h3>

<hr />
<h5>Upload do arquivo:</h5>
<br />
<form action="/Arquivos/Upload" enctype="multipart/form-data" method="post">
    <input type="file" name="arquivos"/>
    <input type="hidden" name="livro_id" value="@ViewBag.LivroId"/>
    <br /><br />
    <button class="btn btn-dark">Confirmar</button>
</form>

